<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Descrição</title>
    <link rel="stylesheet" href="/estilo.css">
</head>
<body>

<div class="retangulo">
    <div class="container">
        <h1 class="titulo"> Bem-vindo à academia Seca Gordura! </h1>
        <h2 class="texto"> Nossa equipe, formada pelos personal trainers Marta Toyoda e Rian Mendonça, estão aptos para lhe ajudar no seu programa de emagrecimento. </h2>
        <h3 class="titulo"> Estamos localizados na Rua ABC, 81 - das 7h às 22h. </h3>
    </div>
</div>

</body>
</html>