<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Projeto </title>
    <link rel="stylesheet" href="/estilo.css">
</head>
<body>

<div class = "retangulo">
    <div class="conteiner">
        <h1 class="titulo"> Seja Bem vindo!</h1>
        <h2 class="titulo"> Este projeto foi criado pelos alunos Marta Toyoda e Rian Mendonça para a disciplina "Sistema Cliente Servidor". </h2>

        <hr>

        <div>
            <h1 class="texto"> Descrição do projeto </h1>

            <p class="texto">Nosso projeto, embora simples, é altamente funcional e se baseia no tema "Academia" para definir suas rotas e configurações. A seguir, vamos explicar o funcionamento dessas rotas de forma mais detalhada.</p>

            <h2 class="texto"> Funcionamento das rotas </h2>
            <ul class="texto">
                <li> Ao acessar a Rota 1 através da URL: "http://localhost:3500/rota1/"Seu nome", será exibida uma mensagem de Boas Vindas contendo o nome inserido na URL. </li>
                <li> Ao acessar a Rota 2 através da URL: "http://localhost:3500/rota2/"Seu peso"/"Sua altura" será exibida uma mensagem descrevendo o peso e altura inseridos na URL. </li>
                <li> Ao acessar a Rota 3 atráves da URL: "http://localhost:3500/rota3/"Sua altura/"Seu peso" será exibida uma mensagem contendo o resultado do calculo de IMC (Índice de Massa Corporal) com base na altura e peso inseridos na URL. </li>
            </ul>

            <p class="texto"> Observação: A altura e peso devem ser inseridos no formato decimal, exemplo: "58.9" </p>

            <ul class="texto">
                <li> Também adicionamos um "Bean" que direciona para a página de descrição da nossa academia e pode se acessado através URL: http://localhost:3500/descricao</li>
            </ul>

            <hr>

            <p th:text="${@appVersion}" class="versao"></p>

        </div>

    </div>
</div>

</body>
</html>